
header img{
    width: 300px;
    height: 300px;
    border-radius:5%;
    border: 5px;
   
}

.center{
    text-align:center;

}


table {
    text-align: center;
    width: 30px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 5px solid #ccc;
    padding: 5px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    header img {
        max-width: 80%; /* Reduza o tamanho máximo da imagem para telas menores */
    }

    table {
        font-size: 14px; /* Reduza o tamanho da fonte da tabela em telas menores, se necessário */
    }

    th, td {
        padding: 3px; /* Reduza o espaçamento interno para telas menores */
    }
}



