body{
    color:black;
    background-color: white ;
    font-family: arial Arial, Helvetica, sans-serif;
    text-decoration: none;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 40px;
}

 header img{
    width: 300px;
    height: 300px;
    border-radius:5%;
    border: 5px;
   
}

.center{
    text-align:center;

}
footer img{
    width: 40px;
    height: 40px;
    text-align: center;
}

footer {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;


}



nav {
    text-align: center;
}
nav a button {
    color: black;
    background-color: yellow;
    border-color: black;
    border-radius: 5px;
    padding: 16px;
  
}
footer a{
    color: black;
    padding: 50px;
    list-style-type: none ;
    font-family:Arial, Helvetica, sans-serif;
    margin: 20px;
    text-align:center;

}

@media screen and (max-width: 768px) {

    body {
    background-color: green;
    
    }
    ul {
        flex-direction: column; /* Alterar a direção da lista para coluna em telas menores */
        align-items: flex-start; /* Alinhar os itens à esquerda em telas menores */
        padding: 10px;
    }

    header img {
        max-width: 100%;
        height: auto;
    }

    footer {
        flex-direction: column; /* Alterar a direção do rodapé para coluna em telas menores */
        align-items: center; /* Alinhar os itens ao centro em telas menores */
    }

    nav a button {
        padding: 10px 16px;
    }

    footer a {
        padding: 10px 20px;
        margin: 5px;
    }
}

