body{
    color:black;
    background-color: white ;
    font-family: arial Arial, Helvetica, sans-serif;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 40px;
}

 header img{
    width: 300px;
    height: 300px;
    border-radius:5%;
    border: 5px;
   
}

.center{
    text-align:center;

}
footer img{
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
    list-style-type: none;


}


footer a{
    margin: 20px;
    text-align: center;

}
