body{
    color:black;
    background-color: white ;
    font-family: arial Arial, Helvetica, sans-serif;
}
h1{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
header img{
    width: 300px;
    height: 300px;
    border-radius:5%;
    border: 5px;
}

@media screen and (max-width: 768px) {
    header img {
        max-width: 80%; /* Reduza o tamanho máximo da imagem para telas menores */
    }
}